[AutoProxy 0.2.9]
! Checksum: 9PVgZURV+9DlFwAZIld/ZQ
! Expires: 6h
! Title: GFWList4LL
! GFWList with EVERYTHING included
! Last Modified: Mon, 19 Feb 2024 10:27:32 -0500

||freenom.com
||v2rayssr.com
||bing.com
||apache.org
||microsoft.com
||live.com
||microsoftonline.com
||oraclecloud.com
||afndaily.com
||offcie.com
||steamdb.info
||cloudflare.com
||paypal.com
||ai.com
||sharepoint.com
||kox.moe
||ivacy.com
||claude.ai
||anthropic.com
||rargb.to
||1337x.to
||office.com
||btnull.org
||riotgames.com
||oraclecloud.com
||cloud.oracle.com
||skype.com
||mgnetu.com
||playvalorant.com
