[AutoProxy 0.2.9]
! Checksum: 9PVgZURV+9DlFwAZIld/ZQ
! Expires: 6h
! Title: GFWList4LL
! GFWList with EVERYTHING included
! Last Modified: Mon, 19 Feb 2024 10:27:32 -0500
!
! HomePage: https://github.com/gfwlist/gfwlist
! License: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt
!
! GFWList is unlikely to fully comprise the real
! rules being deployed inside GFW system. We try
! our best to keep the list up to date. Please
! contact us regarding URL submission / removal,
! or suggestion / enhancement at issue tracker:
! https://github.com/gfwlist/gfwlist/issues/.

!---------403/451/503/520 & URL Redirects---------
||freenom.com
||v2rayssr.com
||bing.com
||apache.org
||microsoft.com
||live.com
||microsoftonline.com
||oraclecloud.com
||afndaily.com
||offcie.com
||steamdb.info
||cloudflare.com
||paypal.com
||ai.com
||sharepoint.com
||kox.moe
||ivacy.com
||claude.ai
||anthropic.com
||rargb.to
||1337x.to
||office.com
||btnull.org
||riotgames.com
||oraclecloud.com
||cloud.oracle.com
||skype.com
||mgnetu.com
||playvalorant.com
